#app-component-wrapper{
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin: 0 auto;
  padding: 10px;

  .group{
    box-shadow: 0 0 7px #ccc;
    margin-bottom: 10px;

    h2{
      background: rgb(63,81,181);
      color: #fff;
      padding: 10px;
      margin-bottom: 5px;
    }

    .table{
      .row{
        display: flex;
        flex-direction: row;
      }
      .cell{
        flex: 1;
        padding: 10px 10px 10px 10px;
      }
      .table-header{
        @extend .row;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
      }
      .table-body{
        .row{
          &:nth-last-of-type(odd){
            background: #e6e6e6;
          }
        }
      }
    }
  }

  .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }

  #ideal{
    .locations {
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;

      .location{
        min-width: 30%;
        flex: 1;
        font-weight: bold;
        align-content: center;
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }

    }
  }
}